/* header-------------------------- */
.header{
  justify-content: space-between;
}
.header__title{
  display: inline-block;
  width: fit-content;
  padding-left: 1rem;
}
.header__nav{
  width: max(200px, 40%);
  height: 3rem;
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  top: 10px;
  right: 0;
}
.header__nav__logo{
  color: inherit;
}

.header__nav__list__item__logo{
  margin-left: 1rem;
}

/* main-------------------------- */

.main{
  margin-top: 2rem;
}
.main__paragraph{
  font-size: 1.2rem;
  width: min(80%, 500px);
  text-align: center;
}
.main__list{
  width: 100%;
  margin-bottom: 2rem;
}
.main__list__item-1,
.main__list__item-2,
.main__list__item-3,
.main__list__item__logo
{
  position: relative;
}
/*second nav-----------------------*/

.second_nav{
  height: 3rem;
  margin-bottom: 2rem;
}
.second__nav_wrapper, .acerca_de__modal_wrapper{
  display: flex;
  position: fixed;
  align-items: start;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}
.acerca_de__modal_wrapper{
  align-items: center;
}
.second_nav__list__item{
  font-size: 1.6rem;
}
.second_nav__list{
  height: 50vh;
  display: grid;
  grid-template-areas: 
    "js ts rc"
    "nx nd ss"
    "v1 cl v2"
  ;
  justify-items: center;
}
.js{
  grid-area: "js";
}
.ts{
  grid-area: "ts";
}
.rc{
  grid-area: "rc";
}
.nd{
  grid-area: "nd";
}
.ss{
  grid-area: "ss";
}
.cl{
  grid-area: "cl";
}

/* Section------------------------ */
.section{
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}
.section__article{
  border-radius: 1rem;
  padding: 2rem;
}

/* footer------------------------ */
.footer{
  height: 8rem;
  text-align: center;
}
.footer__list{
  flex-wrap: wrap;
}
.footer__list__item{
  width: fit-content;
  line-height: 2rem;
}

/*atributos compartidos------------------------------------------*/
.header, 
.header__nav, 
.header__nav__list, 
.header__nav__list__item, 
.acerca_de__modal_card, 
.main,
.footer__list,
.footer,
.section__article,
.second_nav,
.main__list,
.main__list__item-1,
.main__list__item-2,
.main__list__item-3
{
  display: flex;
}
.second_nav__list,
.header, 
.header__nav, 
.header__nav__list, 
.header__nav__list__item, 
.acerca_de__modal_card, 
.main,
.footer__list,
.footer,
.section__article,
.second_nav,
.main__list,
.main__list__item-1,
.main__list__item-2,
.main__list__item-3
{
  align-items: center;
}

.acerca_de__modal_card, 
.main,
.main__list__item-1,
.main__list__item-2,
.main__list__item-3,
.second_nav,
.second__nav_wrapper, 
.acerca_de__modal_wrapper,
.section,
.section__article
{
  justify-content: center;
}
.main__title, 
.acerca_de__modal_card,
.header__title,
.header,
.main__list,
.section,
.section__article
{
  box-sizing: border-box;
}
.header,
.header__nav__list,
.second_nav, 
.second_nav__list,
.section, 
.footer__list,
.section__article__img_wrapper,
.section__article__img,
.main__title,
.main__list__item-1::before,
.main__list__item-2::before,
.main__list__item-3::before
{
  width: 100%;
}
.header__nav__list__item,
.main__list__item-1,
.main__list__item-2,
.main__list__item-3,
.second_nav__list__item
{
  user-select: none;
}
.acerca_de__modal_card,
.main,
.main__list__item-1,
.main__list__item-2,
.main__list__item-3,
.section__article
{
  flex-direction: column;
}
.header__nav__list,
.main__list,
.footer,
.footer__list
{
  justify-content: space-evenly;
}