@media screen and (max-width: 780px) {
  /*typography------------------------*/
  h2,  .second_nav__list__item{
    font-size: 1.2rem;
  }
  h1{
    font-size: 1.4rem;
  }
  p{
    font-size: 1rem;
  }
  /*list items------------------------*/
  .main__list__item__logo{
      transform: scale(.8);
  }
  /*layout--------------------------------*/
  /*header nav*/
  .nav_tag{
    display: none;
  }
  .header__nav{
    width: max(80px, 50%);
    height: max(60px, 10vh);
    display: flex;
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    top: 10px;
    right: 0;
  }
  .header__nav, .second_nav__list{
    align-items: center;
  }
  /*modal main-------------------*/
  .second_nav__list{
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
      "js ts"
      "rc nx"
      "nd ss"
      "cl cl"
    ;
    justify-items: center;
  }
  .cl{
    grid-row: 4/5;
    grid-column: 1/3;
  }
}