h3{
  display: flex;
}
h1, h2, h3{
  font-family: 'Sono', sans-serif;
  font-weight: 800;
  text-align: center;
}
.font-sono{
  font-family: 'Sono', sans-serif
}
p, article, .font-dm-sans{
  font-family: 'DM Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
li, span, .font-poppins{
  font-family: 'Poppins', sans-serif;
}
.font-montserrar{
  font-family: 'Montserrat', sans-serif;
}
ul{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
li{
  margin-left: 0;
}
footer{
  color: var(--font2Color);
  font-size: min(1.3rem, 5vw);
  font-family: 'Montserrat', sans-serif;
}